#game-over-container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.7s;
    display: none; /* TODO: revert to none after testing Game over overlay */
    text-align: center;
}

.game-over-content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

.game-over-content h1 {
    height: 50%;
    font-size: 5rem;
    padding-top: 2rem;
    font-family:Papyrus, fantasy;
    margin-bottom: 0;
}

.game-over-content h2 {
    font-size: 2rem;
    margin-top: 0;
    font-family:Papyrus, fantasy;
}

#board {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#opponent {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

#player {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.players {
    font-family: Papyrus, fantasy;
}

.players h3 {
    font-size: 3rem;
    padding-bottom: 0;
    margin-bottom: 0;

}

.players p {
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 0;
}

.players p span {
    font-weight: bolder;
    font-style: italic;
}
