html {
    background: rgb(182,226,255);
}

.center {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.center-middle {
    display: table-cell;
    vertical-align: middle;
}

.center-inner {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(3, 1fr); /* Define initial grid layout */
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns */
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Change to 1 column */
        gap: 20px;
    }
}
